<!DOCTYPE html>
<html>
<head>
	<title>client test</title>
	<script src="/javascripts/socket.io.min.js"></script>
	<script type="text/javascript">
	var id = '<%= id%>';
	var socket = io.connect('http://localhost:3000');
	socket.on('connect',function () {
		socket.emit('addme', {
			"class_id":id,
			"stu_id":"499850070"
		});
		// socket.emit('chat', {stu_id:"499410743", message:"haha"})
	});
	socket.on('addme_res', function(obj){
	});
	socket.on('start_vote', function(obj){
	});
	function send_vote (form) {
		for (Count = 0; Count < 4; Count++) {
	        if (form.vote[Count].checked)
			    socket.emit('voting', {
			    	"stu_id":499410743,
			    	"class_id":id,
			    	"answer":form.vote[Count].value});
	    }
	}
	function start_vote(){
	    socket.emit('vote_req', {"class_id":id});
	}
	function end_vote(){
        socket.emit('end_vote', {"class_id":id});
	}
	</script>
</head>
<body>
<form>
投票<br>
    <input  type="radio" name="vote" value="A">A
    <input  type="radio" name="vote" value="B">B
    <input  type="radio" name="vote" value="C">C
    <input  type="radio" name="vote" value="D">D<p>
    <input type="button" onclick="send_vote(this.form)" value="vote">
</form>

<input type="button" onclick="start_vote()" value="startVote">
<input type="button" onclick="end_vote()" value="endVote">
</body>
</html>