<!DOCTYPE html>
<html>
    <head lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>課程管理</title>
        <!--Add local css-->
        <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
        <!--Add jQuery-->
        <script src="/javascripts/jquery.min.js"></script>
        <!--Add bootstrap library-->
        <script src="/lib/bootstrap-3.1.1/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <link href="/lib/bootstrap-3.1.1/less/bootstrap.less" type="text/css" rel="stylesheet/less">
        <!--Add css compiler-->
        <script src="/lib/less.js-master/dist/less-1.7.0.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="header_style"></div>

            <!--navigationbar-->
            <nav class="navbar navbar-static-top navbar_style" role="navigation">
            	<div class="navbar-header">
        			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			        	<span class="sr-only"></span>
			           	<span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
        			</button>
    			</div>
				<div class="customer_counter"></div>
				<div class="navbar-collapse collapse potato">
        			<ul class="nav navbar-nav navbar-right">
                    	<li><a><input type="checkbox"> 表格整理</a></li>
                    	<li><a onclick="start_vote()">開始投票</a></li>
                    	<li><a onclick="end_vote()">結束投票</a></li>
                    	<li><a href="/logout">登出</a></li>
                	</ul>
    			</div>
            </nav>

            <!--chatbar & chartbar-->
            <section>
                <div class="middle_container">
<!--                    <div class="row">-->
                        <!--chat_box-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 left_box">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    chat
                                    <span class="glyphicon glyphicon-comment"></span>
                                </div>
                                <div class="panel-body chat_box" id="chat_box_outer">
                                    <ul class="chat_box_inner" id="ListenChat">

                                    </ul>
                                </div>
                                <div class="panel-footer chat_message_input">
                                    <div class="input-group">
                                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-warning btn-sm" id="btn-chat" onclick="send_chat()">
                                                Send</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--chart_box-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <div class="chart_box"></div>
                        </div>
<!--                    </div>-->
                </div>
            </section>

            <!--dataTable-->
            <section>
                <div class="table_container">
                    <div class="table_title"></div>
                    <table class="table table-condensed">
                        <thead>
                            <tr class="table_header">
                                <th>名字</th>
                                <th>狀態</th>
                                <!-- <th>a1</th> -->
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </section>

            <!--footer-->
            <div class="footer"></div>
        </div>
        <script src="/javascripts/socket.io.min.js"></script>
		<script type="text/javascript">
            //get table data
            var str = '<%- string%>';
            var json = JSON.parse(str);

            function start_vote(){

                socket.emit('vote_req', {"class_id":json._id});
            }
            function end_vote(){
                socket.emit('end_vote', {"class_id":json._id});
            }
            </script>

        <script src="/javascripts/websocketConfig.js"></script>
        <script src="./javascripts/d3.v3.min.js"></script>
        <script src="./javascripts/chart.js" type="text/javascript"></script>
        <script src="./javascripts/fild_table_data.js" type="text/javascript"></script>
        <script src="./javascripts/change_size.js" type="text/javascript"></script>
        <script >
            function send_chat(){
					var text = $('#btn-input').val();

                socket.emit('chat', {"class_id":json._id, 'stu_id':'admin', 'message': text});


                var e = $('<li class="my_chat">'+
                            '<div class="chat-body clearfix">'+
                                '<div class="chat_id">'+
                                '<small class=" text-muted">'+
                                    '<span class="glyphicon glyphicon-time"></span>'+getDateTime()+
                                    '</small>'+
                                    '<strong class="pull-right primary-font">Me</strong>'+
                                '</div>'+
                                '<p>'+text+'</p>'+
                            '</div>'+
                        '</li>');
                $('#ListenChat').append(e);
					$('#btn-input:text').val('');
				   $("#btn-input:text").focus();
				var objDiv = document.getElementById("chat_box_outer");
                objDiv.scrollTop = objDiv.scrollHeight;
            }
        </script>
    </body>
</html>
